
body {
    background-color: black;
}

a {
  color: #8fb3ea;
}

.fixed {
position: fixed;
top: 0;
right: 0;
bottom: 95%;
left: 0;
z-index: 0;
}

.fixed2 {
position: fixed;
top: 10%;
right: 0;
bottom: 85%;
left: 0;
z-index: 0;
}

.fixed3 {
position: fixed;
top: 20%;
right: 0;
bottom: 75%;
left: 0;
z-index: 0;
}

.fixed4 {
position: fixed;
top: 30%;
right: 0;
bottom: 65%;
left: 0;
z-index: 0;
}

.messages {
  background: #B1C771;
  color: #000;
}

.messages:hover {
  background: #000;
  color: #f00;
  font-size: 30px;
}

#show4 {
  font-size: 28px;
  color: #f0f0f0;
}

#show3 {
  font-size: 24px;
  color: #f00;
}

#show {
    color: #F8E839;
    width: 100%;
    float: left;
    font-size: 24px;
}

#show2 {
    color: #F8E839;
    width: 100%;
    float: left;
    font-size: 24px;
    padding-left: 80px;
}

#experiment {
    width: 70%;
}

#left {
    width: 60%;
    float: left;
}

#right {
    width: 40%;
    float: right;
}

#new {
    width: 70px;
    font-size: 18px;
    background-color: #e8cf8b;
}

.rad {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    padding: 5px;
    float: left;
    font-size: 20px;
    color: #000;
    background: #B1C771;
    text-align: center;
    padding-top: 10px;
    margin: 15px;
}

.rad:focus {
    width: 65px;
    font-size: 45px;
    color: #68f2ad;
    background: #000;
}

.rad2 {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    padding: 5px;
    float: right;
    font-size: 20px;
    color: #000;
    background: #B1C771;
    text-align: center;
    padding-top: 10px;
    margin: 15px;
}

.rad2:focus {
    width: 65px;
    font-size: 45px;
    color: #68f2ad;
    background: #000;
}

.extra {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding-right: 42px;
    float: left;
    font-size: 35px;
    background: #B1C771;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    color: #00F8B6;
    background: #000;
}

.extra:hover {
    color: #ff0000;
}

.range {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    padding: 5px;
    float: left;
    font-size: 20px;
    color: #00f;
    background: #B1C771;
    text-align: center;
    padding-top: 10px;
    margin: 15px;
    }

.erase2 {
    float: left;
}

#solutions2 {
    float: right;
}

.erase {
    float: left;
}

#solutions {
    float: left;
}

#a0 {
    font-size: 35px;
    color: #9dff00;
    width: 100%;
    float: left;
}

#countdown {
    font-size: 35px;
    color: #9dff00;
    width: 100%;
    float: left;
}

#a2 {
    font-size: 25px;
    color: #9dff00;
    width: 100%;
    float: left;
}

#a4 {
    font-size: 25px;
    color: #9dff00;
    width: 100%;
    float: left;
}

#a3 {
    font-size: 50px;
    color: #9dff00;
    width: 100%;
    float: left;
}

#b0 {
    font-size: 25px;
    color: #9dff00;
    width: 100%;
    float: left;
}

#c1 {
    width: 100%;
    float: left;
}

#showRules {
  float: left;
}

#hideRules {
  float: left;
}

article {
  margin: 5px;
  padding: 5px;
}

.spacer {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacer2 {
    width: 100%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

#goal3 {
    float: right;
}

#goal4 {
    float: right;
}

.drag {
    width: 110px;
    height: 90px;
    float: left;
    margin: 0px 5px 0px 0;
    background-color:#000;
    font-size: 65px;
    text-align: center;
    padding-top: 50px;
    color: #9dff00;
    white-space: nowrap;
    overflow: hidden;
}

.dragNew {
    width: 110px;
    height: 90px;
    float: left;
    margin: 0px 5px 0px 0;
    background-color:#000;
    font-size: 65px;
    text-align: center;
    padding-top: 50px;
    color: #F7323C;
    white-space: nowrap;
    overflow: hidden;
}

.drag2 {
    color: #68f2ad;
    background-color: #000;
    width: 110px;
    height: 90px;
    float: left;
    font-size: 65px;
    text-align: center;
    padding-top: 50px;
}

.drop {
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    width: 210px;
    height: 115px;
    float: left;
    margin: 20px;
    background-color:#000;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: #9dff00;
    white-space: nowrap;
    overflow: hidden;
}

.drop2 {
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    width: 210px;
    height: 115px;
    float: left;
    margin: 20px;
    background-color:#000;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: #68f2ad;
}

.drop {
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    width: 210px;
    height: 115px;
    float: left;
    margin: 20px;
    background-color:#000;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: #9dff00;
    white-space: nowrap;
    overflow: hidden;
}

.dropx {
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    width: 210px;
    height: 115px;
    float: left;
    margin: 20px;
    background-color:#000;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: #9dff00;
    white-space: nowrap;
    overflow: hidden;
}

.drop2x {
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    width: 210px;
    height: 115px;
    float: left;
    margin: 20px;
    background-color:#000;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: #68f2ad;
}


#info1 {
    font-size: 32px;
    color: #bdefbf;
    margin-left: 20px;
    width: 80%;
    float: left;
}

#info2 {
    font-size: 32px;
    color: #bdefbf;
    margin-left: 20px;
    width: 80%;
    float: left;
}

button {
    font-size: 18px;
    color: #00F8B6;
    background: #000;
    border-width: 1px !important;
    padding: 0px !important;
    border-color: #ff0000 !important;
    margin: 5px;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px 10px 20px 10px;
}

h2 {
    border-bottom: 1px solid black;
    display: block;
    font-size: 18px;
}

div#main {
    width: 600px;
    margin: 0px auto 0px auto;
    padding: 0px;
    background-color: #000;
    height: 460px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    color: #68f2ad;
    font-size: 22px;
}

div#warnings {
    color: red;
    font-weight: bold;
    margin: 10px;
}

div#join-section {
    float: left;
    margin: 10px;
}

div#users-section {
    width: 240px;
    float: right;
    padding: 0px;
    margin: 10px;
}

ul#users {
    list-style-type: none;
    padding-left: 0px;
    height: 300px;
    overflow: auto;
}

div#chat-section {
    width: 310px;
    float: left;
    margin: 10px;
}

div#messages {
    margin: 0px;
    height: 300px;
    overflow: auto;
}

div#messages p {
    margin: 0px;
    padding: 0px;
}

div#footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin: 10px 0px 30px 0px;
}

div#footer a {
    color: #fff;
}


